html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}


/*header*/

#header-wrapper {
  margin: 20px 50px 0 50px;
  position: fixed;
  width: calc(100% - 100px);
  z-index: 10000;
  height: 60px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 3px 3px rgba(126, 126, 126, 0.3);
}

#brand-wrapper {
  display: inline-block;
  margin: 15px 10px 15px 10px;
  cursor: pointer;
}

#header-menu-wrapper {
  float: right;
  margin-right: 20px;
  margin-top: 20px;
}

#header-menu-wrapper:nth-child(n) {
  cursor: pointer;
}

#header-ic-menu {
  width: 15px;
}

#header-ic-logo {
  height: 30px;
}

#header-menu-wrapper span {
  font-family: 'Nanum Square';
  font-weight: bold;
  font-size: 15px;
}

.header-menu {
  margin-right: 60px;
}


/*main-section*/

#main-section {
  background: url('../main/background/bg_main.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: table;
}

#main-section-text {
  font-family: 'coolvetica rg';
  src: url("../main/font/coolvetica_rg.ttf") format('truetype');
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  text-align: center;
}

.section-text-char {
  font-size: 150px;
  font-weight: 1000;
}

#main-section-text .section-text-char:nth-child(1) {
  color: rgb(246, 99, 81);
}

#main-section-text .section-text-char:nth-child(2) {
  color: rgb(255, 188, 71);
}

#main-section-text .section-text-char:nth-child(3) {
  color: rgb(53, 147, 211);
}

#section-sub-text {
  font-size: 25px;
  font-weight: bold;
}

#meal-wrapper {
  position: absolute;
  left: 100px;
  bottom: 50px;
  width: 25vw;
}

#meal-header-wrapper{
  width: 100%;
}

#meal-date {
  font-size: 25px;
  font-weight: 100;
  line-height: 0;
}

#meal {
  font-size: 70px;
  font-weight: 100;
}

#meal-body-wrapper{
  width: 100%;
  display: inline-block;
}

#food-wrapper{
  width: 70%;
  float: left;
}

.food {
  font-size: 25px;
  font-weight: 100;
  line-height: 1.7em;
}

#meal-btn-wrapper{
  width: 30%;
  height: 100%;
  float: left;
}

.meal-img-wrapper{
  height: 50%;
  width:100%;
}

.meal-img-wrapper:first-child{
  padding-top: calc(100% - 70px);
  height: 70px;
}

#meal-up-img{
  width: 30px;
  float: left;
  cursor: pointer;
}

#meal-up-img:hover{
  -webkit-transform:scale(0.9); /*  크롬 */
  -moz-transform:scale(0.9); /* FireFox */
  -o-transform:scale(0.9); /* Opera */
  transform:scale(0.9);
  transition: transform .35s;
  -o-transition: transform .35s;
  -moz-transition: transform .35s;
  -webkit-transition: transform .35s;
}

#meal-down-img{
  width: 30px;
  float: left;
  cursor: pointer;
}

#meal-down-img:hover{
  -webkit-transform:scale(0.9); /*  크롬 */
  -moz-transform:scale(0.9); /* FireFox */
  -o-transform:scale(0.9); /* Opera */
  transform:scale(0.9);
  transition: transform .35s;
  -o-transition: transform .35s;
  -moz-transition: transform .35s;
  -webkit-transition: transform .35s;
}


#social-wrapper {
  cursor: pointer;
  position: absolute;
  right: 100px;
  bottom: 50px;
}

#social-wrapper img:first-child {
  margin-right: 50px;
}

.social-icon {
  width: 50px;
  height: 50px;
}

.social-icon:hover{
  -webkit-transform:scale(0.9); /*  크롬 */
  -moz-transform:scale(0.9); /* FireFox */
  -o-transform:scale(0.9); /* Opera */
  transform:scale(0.9);
  transition: transform .35s;
  -o-transition: transform .35s;
  -moz-transition: transform .35s;
  -webkit-transition: transform .35s;
}


/*apply-section*/

#apply-wrapper {
  height: calc(100vh - 40px);
  padding: 20px;
  background-color: white;
}

.apply-card-wrapper {
  width: 100%;
  height: 50%;
  position: relative;
}

.apply-card {
  width: calc(50% - 10px);
  height: calc(100% - 10px);
  display: table;
  position: fixed;
  cursor: pointer;
  will-change: transform;
}

#apply-wrapper .apply-card {
  float: left;
}

#stay-apply-wrapper {
  background: url('../main/background/bg_homecoming.png');
  background-color: rgba(0, 0, 0, 0.5);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;
  -moz-transition: background-size 250ms ease;
  -o-transition: background-size 250ms ease;
  -webkit-transition: background-size 250ms ease;
  transition: background-size 250ms ease;
}

#stay-apply-wrapper:hover{
  background-size: 110%;
}

#stay-apply-wrapper:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: inherit;
  content: ' ';
}

#stay-apply-content {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  z-index: 100;
}

#stay-apply-img-wrapper {
  width: 150px;
  margin: 0 auto;
}

#stay-apply-img {
  width: 150px;
}

#stay-apply-text-wrapper:nth-child(n) {
  text-align: center;
  font-weight: bold;
  color: white;
}

#stay-apply-text {
  font-size: 40px;
}

#stay-apply-sub-text {
  font-size: 20px;
}

#extention-apply-wrapper {
  background: url('../main/background/bg_study.png');
  background-color: rgba(0, 0, 0, 0.5);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  margin-left: 10px;
  margin-bottom: 10px;
  -moz-transition: background-size 250ms ease;
  -o-transition: background-size 250ms ease;
  -webkit-transition: background-size 250ms ease;
  transition: background-size 250ms ease;
}

#extention-apply-wrapper:hover{
  background-size: 110%;
}

#extention-apply-wrapper:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: inherit;
  content: ' ';
}

#extention-apply-content {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  z-index: 100;
}

#extention-apply-text-wrapper:nth-child(n) {
  text-align: center;
  font-weight: bold;
  color: white;
}

#extention-apply-text {
  font-size: 40px;
}

#extention-apply-sub-text {
  font-size: 20px;
}

#extention-apply-img-wrapper {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

#extention-apply-11-img-wrapper {
  width: 40%;
  float: left;
}

#extention-apply-12-img-wrapper {
  width: 40%;
  float: right;
}

.extention-apply-img {
  width: 100%;
}

#goingout-apply-wrapper {
  background: url('../main/background/bg_outing.png');
  background-color: rgba(0, 0, 0, 0.5);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  margin-right: 10px;
  margin-top: 10px;
  -moz-transition: background-size 250ms ease;
  -o-transition: background-size 250ms ease;
  -webkit-transition: background-size 250ms ease;
  transition: background-size 250ms ease;
}

#goingout-apply-wrapper:hover{
  background-size: 110%;
}

#goingout-apply-wrapper:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: inherit;
  content: ' ';
}

#goingout-apply-content-wrapper {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  z-index: 100;
  width: 100%;
}

.goingout-apply-content{
  float: left;
  width: 50%;
  position: relative;
}

.goingout-apply-content:nth-child(n) {
  text-align: center;
  font-weight: bold;
  color: white;
}

#goingout-apply-text {
  font-size: 40px;
}

#goingout-apply-sub-text {
  font-size: 20px;
}

#goingout-apply-btn{
  margin-top: 20px;
  font-size: 20px;
  width: 35%;
  height: 40px;
  border: 5px solid white;
  border-radius: 30px;
  display: table;
  position: absolute;
  left: 32%;
}

#goingout-apply-btn:hover{
  -webkit-transform:scale(0.9); /*  크롬 */
  -moz-transform:scale(0.9); /* FireFox */
  -o-transform:scale(0.9); /* Opera */
  transform:scale(0.9);
  transition: transform .35s;
  -o-transition: transform .35s;
  -moz-transition: transform .35s;
  -webkit-transition: transform .35s;
}

#goingout-apply-btn-text{
  display: table-cell;
  vertical-align: middle;
}

.goingout-apply-img {
  width: 150px;
  float: left;
}

.goingout-apply-img:first-child{
  margin-right: 30px;
}

#survey-apply-wrapper {
  background: url('../main/background/bg_poll.png');
  background-color: rgba(0, 0, 0, 0.5);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  margin-left: 10px;
  margin-top: 10px;
  -moz-transition: background-size 250ms ease;
  -o-transition: background-size 250ms ease;
  -webkit-transition: background-size 250ms ease;
  transition: background-size 250ms ease;
}


#survey-apply-wrapper:hover{
  background-size: 110%;
}

#survey-apply-wrapper:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: inherit;
  content: ' ';
}

#survey-apply-text-wrapper {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  z-index: 100;
}

#survey-apply-text-wrapper:nth-child(n) {
  text-align: center;
  font-weight: bold;
  color: white;
}

#survey-apply-text {
  font-size: 40px;
}

#survey-apply-sub-text {
  font-size: 20px;
}


/*post-section*/

#post-wrapper {
  width: 100%;
  height: 70vh;
  background-color: rgb(226, 226, 226);
  padding-top: 40px;
  padding-bottom: 40px;
}

.post-card-wrapper {
  width: calc(100%/3);
  height: 100%;
  float: left;
}

.post-card {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  cursor: pointer;
  will-change: transform;
}

.post-card:hover{
  -webkit-transform:scale(1.05); /*  크롬 */
  -moz-transform:scale(1.05); /* FireFox */
  -o-transform:scale(1.05); /* Opera */
  transform:scale(1.05);
  transition: transform .35s;
  -o-transition: transform .35s;
  -moz-transition: transform .35s;
  -webkit-transition: transform .35s;
}

.post-card-header {
  width: 100%;
  height: 15%;
  display: table;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.post-card-header-text {
  text-align: center;
  color: white;
  font-size: 30px;
  display: table-cell;
  vertical-align: middle;
}

.post-card-body-wrapper {
  width: 100%;
  height: 85%;
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: table;
}

.post-card-body {
  display: table-cell;
  vertical-align: middle;
}

.post-card-img-wrapper {
  width: 35%;
  margin: 0 auto;
}

.post-card-img {
  width: 100%;
  margin: 0 auto;
}

.post-card-body-text-wrapper:nth-child(n) {
  text-align: center;
  font-weight: bold;
}

.post-card-body-text {
  font-size: 30px;
  margin: 15px;
}

.post-card-body-sub-text {
  font-size: 15px;
}


/*tag*/

img {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

/*login modal*/

/* .login_modal_wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -100%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 20;
}

.login_modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 500px;
  z-index: 21;
  background-color: white;
}

.login_animation {
  top: 0%;
}

.login_modal::before {
  width: 100%;
  content: '';
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
} */

/*footer*/

#footer-section-wrapper{
  height: 80vh;
  width: 100%;
  background-color: #CCD8DD;
}

#dev-intro-wrapper{
  height: 70%;
  width:100%;
  background-color: #CCD8DD;
}

#dev-intro-developer-wrapper{
  height: calc(100% - 50px);
  width: calc(100% - 160px);
  padding: 50px 80px 0 80px;
}

.category{
  height: 100%;
  margin-right: 80px;
  float: left;
}

.category-title{
  color: #4D7E99;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
}

.category-member{
  color: #5E97B7;
  margin-bottom: 30px;
  font-size: 20px;
}

#dev-intro-logo-img-wrapper{
  width: calc(50% - 80px);
  height: calc(100% - 80px);
  float: left;
  padding-left: 80px;
  padding-bottom: 80px;
}

#dev-intro-logo-img{
  height: 100%;
}

#dev-intro-category-img-wrapper{
  width: calc(50% - 50px);
  height: calc(100% - 80px);
  float: left;
  padding-right: 50px;
  padding-bottom: 80px;
}

.dev-intro-category-img{
  float: right;
  margin-right: 80px;
  height: 100%;
}

#dev-intro-img-wrapper{
  height: 20%;
  width: 100%;
}

#footer-wrapper{
  width: 100%;
  height: 10%;
  background-color: #7DB0DA;
  display: table;
}

#footer-text{
  color: white;
  text-align: center;
  font-size: 20px;
  display: table-cell;
  vertical-align: middle;
}
